apiVersion: v1
kind: Namespace
metadata:
  name: deplyment

---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: my-node-app
  namespace: deplyment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: my-node-app
  template:
    metadata:
      labels:
        app: my-node-app
    spec:
      containers:
        - name: my-node-app-container
          image: alpine
          ports:
            - containerPort: 3000
      imagePullSecrets:
        - name: nexus-cred

---
apiVersion: v1
kind: Service
metadata:
  name: my-node-app-service
spec:
  type: NodePort
  selector:
    app: my-node-app
  ports:
    - protocol: TCP
      port: 3000
      targetPort: 3000
      nodePort: 30010